/.git
/.github
/LICENSE
/README.md
/Dockerfile
/.dockerignore
/get_examples.sh
/tests

/examples
/target

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
lcov.info

.DS_Store

# PyCharm
.idea/

# VSCode
.vscode/
